[submodule ".oh-my-zsh"]
	path = .shell/oh-my-zsh
	url = https://github.com/alienth/oh-my-zsh.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/git"]
	path = .vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/splitjoin"]
	path = .vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule ".vim/bundle/misc"]
	path = .vim/bundle/misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/notes"]
	path = .vim/bundle/notes
	url = https://github.com/xolox/vim-notes.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/alienth/vim-go.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-buftabline"]
       path = .vim/bundle/vim-buftabline
       url = https://github.com/ap/vim-buftabline.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/bundle/deoplete.nvim"]
	path = .vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/bundle/nvim-yarp"]
	path = .vim/bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule ".vim/bundle/vim-hug-neovim-rpc"]
	path = .vim/bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
